$pink: #F099EB;
$green: #97EBBB;

$tickerHeight: 150px;

$infoBoxHeight: $tickerHeight * 0.55;
$infoBoxWidth: 700px;

$infoBoxBackground: linear-gradient(160deg, $pink, $green);
$borderWidth: 3px;

$fontSize: 2em;
$fontColor: #FFFFFF;

$animSpeed: 0.5s;
